<div class="flex flex-col gap-1 relative">
    <!-- Label -->
    @if (label) {
    <label class="text-xs font-medium text-gray-600">
        {{ label }}
    </label>
    }

    <!-- Dropdown wrapper -->
    <div class="relative">
        <select [(ngModel)]="selected" (change)="onChange(selected)" class="appearance-none bg-white border border-black/5 text-sm text-[#2b2622] py-2 pl-3 pr-8 rounded-md focus:outline-none focus:border-[#d08873]/50 transition-colors duration-200 cursor-pointer">
            <option value="">Select {{ label }}</option>
            @for (opt of options; track opt) {
            <option [value]="opt">
                {{ opt }}
            </option>
            }
        </select>

        <!-- Custom arrow -->
        <span class="absolute inset-y-0 right-2 flex items-center pointer-events-none text-gray-100">
            ▼
        </span>
    </div>
</div>