@if (showWizard) {
  <div
    class="fixed inset-0 z-[100] flex items-center justify-center bg-black/40 backdrop-blur-2xs p-4"
  >
    <div
      class="bg-white rounded-md border border-black/5 shadow-xl w-full max-w-5xl flex flex-col md:flex-row overflow-hidden max-h-[90vh] md:h-[620px]"
    >
      <!-- Sidebar -->
      <app-wizard-steps [steps]="steps" [currentStep]="step"></app-wizard-steps>

      <!-- Main Content -->
      <div class="flex-1 flex flex-col h-full bg-white">
        <app-wizard-header [title]="'Create Team'" (close)="onCloseWizard()"></app-wizard-header>

        <!-- Scrollable step content -->
        <div class="flex-1 overflow-y-auto px-6 py-5">
          @if (step == 1) {
            <app-team-identity
              [data]="teamData"
              [errors]="teamIdentityErrors"
              [showErrors]="shouldShowErrors(1)"
            ></app-team-identity>
          }
          @if (step == 2) {
            <app-team-members
              [data]="teamData"
              [errors]="teamMembersErrors"
              [showErrors]="shouldShowErrors(2)"
              (selectedMembersChange)="onSelectedMembersChange($event)"
            ></app-team-members>
          }
          @if (step == 3) {
            <!-- <app-review-create [data]="teamData"></app-review-create> -->
          }
        </div>

        <!-- Footer pinned at bottom -->
        <app-wizard-footer
          formName="Create team"
          [currentStep]="step"
          [steps]="steps"
          (next)="nextStep()"
          (prev)="prevStep()"
          (submit)="submit()"
        ></app-wizard-footer>
      </div>
    </div>
  </div>
}
