<div class="h-12 border-b border-black/5 bg-white flex items-center justify-between px-5 sticky top-0 z-40">

  <!-- Left: Toggle + Title -->
  <div class="flex w-48 items-center px-6 h-full">
    <h1 class="text-sm font-medium">
      {{ pageTitle }}
    </h1>
  </div>

  <!-- Search -->
   <div class="flex flex-1 items-center px-6">
      <app-search placeholder="Search projects, tasks, users..." (clicked)="onSearch()"></app-search>
  </div>

  <!-- Actions -->
  <div class="flex w-64 items-center justify-end gap-2 px-4">
    
      <app-button caption="Quick Actions" (clicked)="onQuickAction()"></app-button>

</div>